h1 {
	color: white;
}

body {
	background-color: black;
}

#four {
	background-color: #A38051;
}

#three {
	background-color: #706759;
}

#two {
	background-color: #57442B;
}

#one {
	background-color: #A39582;
}

#zero {
	background-color: #A39582;
}