body {
	font-size: 0.8em;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.15em;	
	background-color: #efefef;
}
		
ul {
	list-style-type: none;
	text-align: center;
}

li {
	margin: 0 3px 0;
	display: inline;
}

p {
	text-align: center;
	width: 600px;
	margin: 20px auto 20px;
}
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
}

#page {
	width: 960px;
	
	padding: 20px;
	
	border-top-style: double;
	border-top-color: #000;
	border-top-width: 4px;
	margin-top: 10px;
	
	border-bottom-style: double;
	border-bottom-color: #000;
	border-bottom-width: 4px;
	margin-bottom: 10px;
	
	border-left-style: double;
	border-left-color: #000;
	border-left-width: 4px;
	margin-left: auto;
	
	border-right-style: double;
	border-right-color: #000;
	border-right-width: 4px;
	margin-right: auto;
}

#logo {
	width: 303px;
	
	margin: 10px auto 25px;
/* margin: top=10px right=auto left=auto bottom=25px */
}

ul {
	width: 625px;
	
	padding: 15px;
	
	margin: 0 auto 0;
	
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000;
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
