
div {
	text-align: center;
	width: 1000px;
	height: 1000px;
	margin: 5px auto 50px auto;
	padding: 5px 50px 50px 50px;
}

h1, h2 ,h3 {
	text-shadow: 4px 4px #000000;
	box-shadow: 3px 3px #000;
}

#contact {
	color: white;
}
a:active {
	background-color: red;
}
a:link {
	text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}


body {
	background-color: grey;
	font-family: comic sans ms;
	font-style: oblique;
}

h1, h2, h3, p  {
	padding: 20px;
	color: rgb(255, 255, 255);
	background-color: rgba(219, 0, 0, 0.89);
}
ul {
	list-style-position: inside;
	list-style-type: disc;
	Color: black;
	background-color: grey;
	padding: 5px;
}

#cheese {
	Color: yellow;
	background-color: grey;
	padding: 5px;
}

#cheese2 {
	Color: yellow;
	background-color: grey;
	padding: 5px;
}

#Lettuce {
	color: #6cb946;
	background-color: grey;
	padding: 5px;
}
#Tomato {
	color: red;
	background-color: grey;
	padding: 5px;
}
#Pickles {
	color: green;
	background-color: grey;
	padding: 5px;
}
#Onion {
	color: tan;
	background-color: grey;
	padding: 5px;
}
#Ketchup {
	color: red;
	background-color: grey;
	padding: 5px;
}
#Mustard {
	color: #c2c03d;
	background-color: grey;
	padding: 5px;
}
#Bacon {
	color: brown;
	background-color: grey;
	padding: 5px;
}
#Pineapple {
	color: #fffd70;
	background-color: grey;
	padding: 5px;
}

#BwF, #SBB {
	padding: 5px;
	border: dotted #000;
	margin: 10px 395px 10px;
}

#ice {
	color: white;
	padding: 5px;
	border: dotted #000;
	margin: 10px 395px 10px;
}
#fry {
	color: #dbb700;
	padding: 5px;
	border: dotted #000;
	margin: 10px 395px 10px;
}

#fig1, #fig2, #fig3 {
	background-color: hsla(360, 100%, 51%, 0.5);
	padding: 5px;	
	box-shadow: 5px 5px #000;
}

li {
	background-color: hsla(360, 100%, 51%, 0.5);
}







